<h1>写真一覧</h1>

  <% @pictures.each do |picture| %>
  <p>キャプション: <%= picture.caption %></p>
  <%= link_to "投稿を編集する", edit_picture_path(picture.id) %>
  <%= link_to '投稿を削除する', picture_path(picture.id), method: :delete, data: { confirm: '本当に削除していいですか？' } %>
<% end %>

<%= link_to "写真を投稿する", new_picture_path %>
